@charset "UTF-8";
html,body{background: #fff;}
.jie1000-header{height: 5rem;line-height: 5rem;font-size: 1.6rem;color: #333;position: relative;}
.jie1000-header .ui-title{display: inline-block;width: 100%;text-align: center;}
.jie1000-header a.ui-back{position: absolute;color: #333;width: 2.2rem;height: 2.2rem;top: 50%;margin-top: -1.1rem;left: 2rem;background: url(../images/btn_back@2x.png) no-repeat;background-size: 100% auto;}

.ui-form{font-size: 1.4rem;}
.ui-form-item{background: #dff9f3;}
.ui-form-item label:not(.ui-switch):not(.ui-checkbox):not(.ui-radio){color: #666;}
.ui-btn-normal{margin: 2rem auto;width: 17rem;height: 4rem;line-height: 4rem;border-radius: 4px;background: #f15657;color: #fff;font-size: 1.6rem;text-align: center;}
.red-color{color: #f15657;}

.ui-btn-primary:not(.disabled):not(:disabled):active, .ui-btn-primary.active, .ui-btn-s:not(.disabled):not(:disabled):active, .ui-btn-s.active{background: #cc3b3c;color: #fff;}

.ui-checkbox-round {-webkit-appearance: none;padding: 0.5rem 0 0.5rem 0.2rem;border: none;}
.ui-checkbox-round:after{width: 1.4rem;height: 1.4rem;background: url(images/btn_check_a@2x.png) 0 0 no-repeat;background-size: 1.4rem auto;}


/*------------------------- 元宝 -------------------------*/
/*登录页*/
.login img{margin: 1.6rem auto;display: block;width: 9.6rem;height: 9.6rem;}
.login .ui-form{margin: 0 auto;width: 23rem;}
.login .ui-form-item{padding: 0;width: 100%;background: none;}
.login .ui-form-item:first-child{border-bottom: 1px solid #4F4E58;}
.login .ui-form-item label{padding-right: .5rem!important;width: 4rem;}
.login .ui-form-item label img{width: 1.3rem;height: 1.4rem;}
.login .ui-form-item:nth-child(2) input{max-width: 14rem;}
.login .ui-form-item button{min-width: 5rem;height: 2.8rem;line-height: 2.8rem;border: 1px solid #F15657;background: none;text-align: center;font-size: 1.2rem;color: #F15657;border-radius: 4px;}
.login .ui-deal-box{font-size: 1.1rem;color: #4F4E58;}
.login .ui-deal-box span{color: #7ebbf7;}

.ui-checkbox-round {-webkit-appearance: none;padding: 0;border: none;width: auto;margin-right: 8px;}
.ui-checkbox-round:after{content: ' ';display:inline-block;width: 1.4rem;height: 1.4rem;background: url(../images/btn_check_a@2x.png) 0 0 no-repeat;background-size: 1.4rem auto;}
.ui-checkbox-round:checked:after{content: ' ';display:inline-block;background: url(../images/btn_check_b@2x.png) 0 0 no-repeat;background-size: 1.4rem auto;}
.login .ui-btn-wrap{padding: 1rem .8rem;}

/*还款账单*/
.rebackBill{width: 100%;}
.rebackBill .bills{display: -webkit-box;-webit-box-pack: center;margin: 4.3rem 0;width: 100%;height: 7rem;}
.rebackBill .bill{height: 7rem;}
.rebackBill .billLine{width: 1px;border-right: 1px solid #F15657;;}
.rebackBill .billBlock{width: 48.5%;box-sizing: border-box;text-align: center;}
.rebackBill .billBlock p{font-size: 1.4rem;color: #4F4E58;line-height: 2rem;}
.rebackBill .billBlock h5{font-size: 3.6rem;color: #F15657;font-weight: normal;}
.rebackBill .billBlock h5 em{font-size: 1.4rem;color: #F15657;}
.rebackBill .billBlock .red{color: #F15657;}

.rebackBill .autoRebackBtn{width: 100%;height: 4rem;}
.rebackBill .autoRebackBtn button{display: block;width: 100%;height: 4rem;line-height: 4rem;background: #795F5F;font-size: 1.4rem;color: #fff;text-align: center;}

.rebackBill .tipInfo{margin: 0 auto;padding-top: 3rem;width: 26rem;text-align: center;}
.rebackBill .tipInfo p{font-size: 1.4rem;}
.rebackBill .tipInfo img{margin: 4.5rem 0 3rem 0;width: 6.9rem;height: 4.5rem;}
.rebackBill .tipInfo .tinyTip{position: relative;font-size: 1.1rem;color: #666;}
.rebackBill .tipInfo .tinyTip:before{content:"";position: absolute;left: 3.2rem;top: .6rem;background: #f15657;border-radius: 50%;width: .5rem;height: .5rem;}
.rebackBill .tipInfo button{margin: 3rem 0;padding: .5rem 1rem;background: #F15657;height: 4rem;line-height: 3rem;border-radius: 4px;box-sizing: border-box;}

.rebackBill .tool-bar{position: fixed;bottom: 0;left: 0;width: 100%;height: 4.8rem;display: -webkit-box;-webkit-box-align:center;-webkit-box-pack:justify;border-top: 1px solid #e6e6e6;}
.rebackBill .tool-bar .tool{width: 33%;text-align: center;}
.rebackBill .tool-bar .tool p{line-height: 1.3rem;font-size: 1.1rem;color: #4F4E58;}

/*我的消息*/
.myMessage{padding-left: 1.5rem;width: 100%;box-sizing: border-box;}
.myMessage li{position: relative;padding: 1.5rem;width: 100%;border-bottom: 1px solid #f3f3f3;box-sizing: border-box;}
.myMessage li:before{content: "";position: absolute;left: 0;top: 2rem;width: .8rem;height: .8rem;border-radius: 50%;background: #ccc;}
.myMessage li.active:before{content: "";position: absolute;left: 0;top: 2rem;width: .8rem;height: .8rem;border-radius: 50%;background: #f15657;}

/*个人中心*/
.selfCenter .selfIcon{margin-bottom: 1.4rem;padding-top: 3rem;height: 16.8rem;width: 100%;border-bottom: 1px solid #f3f3f3;text-align: center;box-sizing: border-box;}
.selfCenter .selfIcon img{width: 6.5rem;height: 6.5rem;}
.selfCenter .selfIcon p{font-size: 1.6rem;color: #333;}
.selfCenter .ui-form-item{position: relative;display: -webkit-box;-webkit-box-align: center;background: rgba(189, 15, 225, .3);font-size: 1.4rem;height: 4.8rem;line-height: 4.8rem;box-sizing: border-box;}
.selfCenter .ui-form-item:after{content: "";position: absolute;right: 1.5rem;top: 50%;-webkit-transform: translateY(-50%);width: 1.5rem;height: 1.5rem;background: url(../images/icon_next_b@2x.png) 0 0 no-repeat;background-size: 1.5rem auto;}
.selfCenter .blueBg{margin-right: 1rem;background: #8ad3e1;width: 1.5rem;height: 1.5rem;line-height: 1.5rem;}

/*------------------------- jiangtao -------------------------*/
.mt14{
	margin-top: 1.4rem;
}
.mt15{
	margin-top: 1.5rem;
}
.mt20{
	margin-top: 2rem;
}
.mt30{
	margin-top: 3rem;
}
.mt35{
	margin-top: 3.5rem;
}
.mt40{
	margin-top: 3.5rem;
}
.mt49{
	margin-top: 5rem;
}
.mt51{
	margin-top: 5.1rem;
}
.mt66{
	margin-top: 6.6rem;
}
.fs14{
	font-size: 1.4rem;
}
.fs20{
	font-size: 2rem;
}
.fs36{
	font-size: 3.6rem;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
	font-size: 1.4rem;
} 
/*个人信息*/
.sub-nav{
	display: box;
	display: -webkit-box;
	margin: 25px auto 0;
}
.sub-nav .nav-icon{
	position: relative;
	box-flex: 1;
	-webkit-box-flex: 1;
	padding-top: 3rem;
	text-align: center;
	font-size: 1.2rem;
	color: #ccc;
}
.sub-nav .nav-icon:before{
	content: "";
	display: inline-block;
	width: 2rem;
	height: 2rem;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -1rem;
}
.sub-nav .nav-icon-01:before{
	background: url(../images/icon_me_a@2x.png) no-repeat;
	background-size: 100% auto;
}
.sub-nav .nav-icon-02:before{
	background: url(../images/icon_phone_a@2x.png) no-repeat;
	background-size: 100% auto;
}
.sub-nav .nav-icon-03:before{
	background: url(../images/icon_zhima_a@2x.png) no-repeat;
	background-size: 100% auto;
}
.sub-nav .nav-icon-01.cur:before{
	background: url(../images/icon_me_b@2x.png) no-repeat;
	background-size: 100% auto;
}
.sub-nav .nav-icon-02.cur:before{
	background: url(../images/icon_phone_b@2x.png) no-repeat;
	background-size: 100% auto;
}
.sub-nav .nav-icon-03.cur:before{
	background: url(../images/icon_zhima_b@2x.png) no-repeat;
	background-size: 100% auto;
}
.sub-nav .nav-icon-02:after,.sub-nav .nav-icon-03:after{
	content: "";
	display: inline-block;
	width: 66%;
	height: 0.2rem;
	position: absolute;
	top: 0.9rem;
	left: -33.3333%;
	background: #ccc;
}
.sub-nav .nav-icon-02.cur:after,.sub-nav .nav-icon-03.cur:after{
	background: #f15657;
}
.jie-arrow{
	position: relative;
	padding-right: 2rem;
}
.jie-arrow:after{
	content: "";
	display: inline-block;
	width: 2rem;
	height: 2rem;
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -1rem;
	background: url(../images/icon_next_b@2x.png) no-repeat;
	background-size: 100% auto;
}
.ui-form-item input{
	width: 100%;
	padding-right: 20px;
}
.ui-deal-box{
	width: 24rem;
	margin: 0 auto;
	font-size: 1.1rem;
	color: #333;
}
/*手机实名*/
.tip-text{
	font-size: 1.2rem;
	padding: 0 10px;
	margin-top: 3.5rem;
}
.tip-text:before{
	content: "";
	display: inline-block;
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background: #f15657;
	margin-right: 0.5rem;
	vertical-align: middle;
}
.forget-text{
	margin-top: 1.4rem;
	padding-right: 10px;
}
.ui-poptips{
	width: 14.4rem;
	top: auto;
	bottom: 3rem;
	left: 50%;
	margin-left: -7.2rem;
}
.ui-poptips-cnt{
	border-top-left-radius: 0.4rem;
	border-top-right-radius: 0.4rem;	
}
.ui-poptips-cnt i{
	display: none;
}
/*芝麻分*/
.zhima-green{
	width: 2.2rem;
}
.zhima-num{
	margin-top: 1.6rem;
	font-size: 3rem;
	color: #4F4E58;
	line-height: 3rem;
}
.pinggu-time{
	font-size: 12px;
	color: #4F4E58;
	margin-top: 2.6rem;
}
.agree-text{
	padding: 0 15px;
	font-size: 1.4rem;
	color: #666666;
}
.tip-text-mes{
	font-size: 1.4rem;
	padding: 0 10px;
	margin-top: 3.5rem;
}
.send-btn{
	position: absolute;
	right: 1rem;
	top: 50%;
	margin-top: -1.4rem;
	display: inline-block;
	width: 8rem;
	height: 2.8rem;
	line-height: 2.8rem;
	color: #F15657;
	border: 1px solid #F15657;
	border-radius: 4px;
	text-align: center;
}
/*授信成功*/
.edu-text{
	font-size: 1.8rem;
	color: #4F4E58;
}
.edu-num{
	position: relative;
	height: 7.2rem;
	margin-top: 2.2rem;
}
.edu-num-box{
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	overflow: hidden;
}
.edu-num-box span{
	display: inline-block;
	width: 3.5rem;
	height: 7.2rem;
	line-height: 7.2rem;
	text-align: center;
	float: left;
	border-radius: 0.5rem;
	margin-right: 0.3rem;
	color: #F15657;
	font-size: 6.4rem;
}
.edu-num span:nth-last-child(1){
	margin-right: 0;
}
.edu-text-01{
	font-size: 1.4rem;
	color: #4F4E58;
	margin-top: 2.3rem;
}
/*借钱选择*/
.top-warn{
	height: 2.4rem;
	line-height: 2.4rem;
	font-size: 1.3rem;
	color: #fff;
	opacity: 0.77;
	text-align: center;
	background: #795F5F;
}
.choose-title{
	font-size: 1.6rem;
	color: #4F4E58;
}
.pd-outer{
	padding: 1.7rem 3.2rem 2rem 3.2rem;
}
.inner-list{
	width: 31rem;
	margin: 0 auto;
	padding-top: 1.7rem;
	padding-bottom: 2rem;
	position: relative;
}
.inner-list:after{
	content: "";
	display: inline-block;
	width: 0.1rem;
	height: 1rem;
	background: #D8D8D8;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -0.5rem;
	margin-left: -0.05rem;
}
.choose-btn{
	display: inline-block;
	width: 12rem;
	height: 4rem;
	font-size: 2rem;
	line-height: 4rem;
	border-radius: 4px;
	text-align: center;
	color: #979797;
	border: 1px solid #979797;
}
.choose-btn.cur{
	color: #F15657;
	border: 1px solid #F15657;
}
.inner-list .choose-btn:nth-child(1){
	margin-right: 6rem;
}
.fix-btn{
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #fff;
}
