@charset "UTF-8";
/*首页展开*/
.colgreen{color: #1c9716;}/*绿色*/
.colblue{color:#268fc0;}/*蓝色*/
.OpenInfo{width:100%;padding:.7rem;color:#6c4836;font-size: 1.3rem;line-height:1.3;font-weight: bold;box-sizing: border-box;}
.OpenInfoHd{position:relative;display:-webkit-box;width:100%;padding:0.4rem;border-bottom:1px solid #b39975;box-sizing: border-box;}
.Avatar1{display: block;width:3.95rem;height:3.85rem;margin-right:.7rem;}
.OpenInfoHd-r{-webkit-box-flex:1;}
.Avatar1Name p:first-child{margin-bottom: .6rem;}
.Detail{position:relative;padding: .5rem 0 .3rem;}
.Detail h2{font-size:2.6rem;color: #df6513;}
.Time{color:#a7855f;margin: 0.5rem 0;}
.Detail img{display: block;max-height: 13.6rem;margin:0.5rem 0;}
.Detail p{padding: 0 8.7rem 0 1.1rem;}
.zan{position: absolute;right:2.8rem;bottom: .7rem;width:2.25rem;height: 2.5rem;background: url(../images/zan_no.png) no-repeat 0 0;background-size: 2.25rem 2.5rem;}
.zan.on{background-image: url(../images/zan_yes.png);}
.NoReply{height:3.9rem;line-height:3.9rem;background:#cfc6a4;margin-bottom: .5rem;text-align:center;font-size:1.6rem;color: #66605d;border-radius:5px;}
.OpenInfoBd{padding:.5rem 1rem;}
.ReplyList li{position:relative;display: -webkit-box;margin-bottom: .5rem;background: #e7e2be;border-radius: 5px;padding: .5rem .7rem 2.5rem;}
.Avatar2{display: block;width: 4.15rem;height: 3.9rem;margin-right: .3rem;}
.Avatar2Name{font-size: 1.2rem;-webkit-box-flex:1;}
.Avatar2Name p:first-child{font-size:1.1rem;color:#916854;margin-bottom: .5rem;}
.source{position:absolute;right:.4rem;bottom:.6rem;color: #9d8f79;font-size: 1rem;}
.source span{margin-left: 1.2rem;}
.ReplyBox{position: fixed;left:0;bottom:4.2rem;width:100%;padding: 0 1.9rem 0 2.5rem;background: #f3efca;height: 3.7rem;padding: .3rem .2rem .3rem 1rem;display: -webkit-box;-webkit-box-pack:center;-webkit-box-align: center;box-sizing: border-box;}
.EmoFace{display:block;width:2.8rem;height: 3.05rem;margin-right: .3rem;}
.IptBox{-webkit-box-flex:1 ;padding-left:2.5rem;height: 2.05rem;background: #544936 url(../images/pen.png) no-repeat .5rem center;background-size:1.3rem 1.35rem;border:1px solid #503b26;border-radius:5px;box-sizing: border-box;overflow: hidden;}
.IptBox input{display:block;width:100%;height: 100%;color: #fff;font-weight: bold;background:none;text-align: center;border:none;outline: none;}
.IptBox input::-webkit-input-placeholder {color:#796449;}
.SendOut{display:block;width:6.2rem;height:2.75rem;margin-left:.3rem;background: url(../images/send_btn.png) no-repeat 0 0;background-size:6.2rem 2.75rem;outline: none;border: none;}
/*个人中心*/
.PersonalC{font-size: 1.3rem;line-height:1.3;font-weight: bold;}
.PersonalC .OpenInfoHd{padding: 0 0 1.4rem 0;}
.Avatar1Name{color:#6c4b3b;font-size: 1.3rem;font-weight: bold;}
.Tab-Hd{position:relative;display: -webkit-box;-webkit-box-align:center;-webkit-box-pack:center;margin-top:-1rem;margin-bottom: 1.2rem;z-index:1;}
.Tab-Hd li{width:6.3rem;height: 2rem;font-size: 1.2rem;line-height:2rem;text-align: center;background: #ad8b51;border-radius: 6px;color:#e4cd91;margin:0 .5rem;}
.Tab-Hd .active{color:#fff;background:#f1910f;}
.TadLst{position: relative;display: -webkit-box;-webkit-box-pack: center;-webkit-box-align: center;margin-bottom: .5rem;width: 100%;padding-right:3rem;font-size: 1.2rem;line-height:1;background: #f4e2b7;border-radius: 6px;height: 6.05rem;box-sizing: border-box;}
.TadLst:after{content: '';position:absolute;top:50%;right:.6rem;margin-top:-.6rem;width:1.3rem;height: 1.2rem;background: url(../images/rigDotArr.png) no-repeat 0 0;background-size: 1.3rem auto;}
.TabBImg{display: block;height: 6.05rem;border-radius:6px;}
.TabHot{margin-left:3rem;}
.TabSImg{margin-bottom: .5rem;}
.TabSImg img{display: inline-block;width:2.8rem;height: 2.8rem;margin-left:-1rem;border-radius: 2.8rem;}
.TabHot p{padding-left: 2.2rem;}
.TabTxt{-webkit-box-flex:1;display: -webkit-box;line-height:1.4;}
.TabTxt b{display: block;font-weight: bold;}
.TabTxt p{-webkit-box-flex:1;}
.NoNetWork{position:absolute;top:0;left:0;width:100%;height: 100%;padding:0 0 4.2rem 6.1rem;box-sizing: border-box;display: -webkit-box;-webkit-box-orient: vertical;-webkit-box-pack: center;-webkit-box-align: center;z-index:-1;}
.NoNetWork img{width:11.4rem;margin-bottom: 1rem;}
.NoNetWork p{color:#765a3e;font-size: 2rem;font-weight:bold;}
/*迷你圈*/
.ReplyImg{width:100%;height: 9rem;display: -webkit-box;-webkit-box-pack: justify;margin-top: .5rem;}
.ReplyImg img{-webkit-box-flex:1;display:block;height: 9rem;border-radius: 10px;margin-right: .6rem;}
.ReplyImg img:last-child{margin-right: 0;}
/*视频展开*/
.BtnDelete{position: absolute;top:.4rem;right:1.8rem;width:3rem;height: 3.3rem;background: url(../images/delete.png) no-repeat 0 0;background-size: 3rem 3.3rem;}
.BtnReport{position: absolute;top:.9rem;left:18rem;width:2.5rem;height:2.7rem;background: url(../images/Report.png) no-repeat 0 0;background-size: 2.5rem 2.7rem;}
.VideoDetail{display:-webkit-box;padding-right: 3.5rem;height: 13.6rem;}
.VideoSmallBox{width:20.7rem;overflow: hidden;height: 13.6rem;}
.VideoSmallTxt{-webkit-box-flex: 1;padding-left: 2.2rem;}
.VideoSmallTxt dt{font-size:1.6rem;color:#62442a;margin-bottom: .6rem;}
.VideoSmallTxt dd{font-size:1.3rem;color:#815e4c;margin-bottom: .6rem;line-height: 1.3;}
.LatestComments{font-size: 1.6rem;padding:.5rem 0;padding-left: 5.1rem;}
.LatestCommentsLst{padding-left: 5.1rem;}
.LatestCommentsLst .Avatar2{position: absolute;top:.4rem;left:-5rem;}
.LatestCommentsLst li{padding: .9rem .9rem 2.5rem .9rem;}
/*视频弹层*/
.Dialog{display:-webkit-box;-webkit-box-align:center;-webkit-box-pack: center;position:fixed;top:0;bottom:0;width:100%;height:100%;background: rgba(0,0,0,0.6);z-index:9999;display: none;}
.Dialog.show{display: -webkit-box;}
.DialogVideo{position:relative;width:49.1rem;height:26rem;background: red;}
.Videoclose{position: absolute;top:.8rem;right:.8rem;width:2.4rem;height:2.4rem;background: url(../images/close_white.png) no-repeat 0 0;background-size:2.4rem 2.4rem; }
