@charset "UTF-8";
.block{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0,0,0,.3);z-index: 0;}
.m1p1{position: relative;padding-top: 242px;width: 100%;height: 827px;background: url(../images/wid_img1.jpg) center 0 no-repeat;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-o-box-sizing: border-box;-ms-box-sizing: border-box;box-sizing: border-box;}
.m1p1 h3{position: relative;text-align: center;font-size: 64px;color: #fff;font-weight: bolder;line-height: 80px;letter-spacing: -3px;}
.m1p1 a{position: absolute;left: 50%;top: 453px;transform: translateX(-50%);-o-transform: translateX(-50%);-moz-transform: translateX(-50%);-ms-transform: translateX(-50%);-webkit-transform: translateX(-50%);display: block;font-size: 22px;text-align: center;color: #fff;height: 174px;letter-spacing: -2px;background: url(../images/applyBtn.png) center no-repeat;line-height: 174px;font-weight: bold;width: 150px;}

.m1p2{width: 100%;}
.m1p2-1{padding-top: 200px;padding-right: 50%;width: 100%;text-align: right;background: url(../images/wid_img2_01.jpg) center 0 no-repeat;height: 633px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-o-box-sizing: border-box;-ms-box-sizing: border-box;box-sizing: border-box;}
.m1p2-2{padding-left: 50%;padding-top: 140px;width: 100%;background: url(../images/wid_img2_02.jpg) center 0 no-repeat;height: 632px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-o-box-sizing: border-box;-ms-box-sizing: border-box;box-sizing: border-box;}
.m1p2 h3{font-size: 34px;font-weight: bolder;color: #fff;line-height: 170%;}
.m1p2 h4{padding-top: 70px;font-size: 22px;font-weight: bold;color: #1d1d1d;line-height: 42px;}
.m1p2 h5{font-size: 20px;font-weight: normal;width: 400px;line-height: 25px;}
.m1p2-1 h5{padding-left: 450px;}
.m1p2 ul{margin-top: 42px;}
.m1p2 li{height: 32px;font-style: italic;font-size: 20px;}
.m1p2 li em{font-weight: bolder;color: #662b8f;font-style: italic;}
.m1p2-2 ul{margin-top: 98px;padding-left: 25px;}

.m1p3{width: 100%;background: url(../images/wid_img3.jpg) center 0 no-repeat;height: 380px;}

.m1p4{width: 100%;height: 853px;}
.m1p4 .picscroll{position:relative;margin-bottom:20px;width: 1700px;margin: 0 auto;}
.m1p4 .picscroll .item{position: relative;width: 1700px;height: 853px;}
.m1p4 .picscroll .item img{width:100%;height:100%;}
.m1p4 .picscroll .item .tip{position:absolute;top:0;left:0;padding-top: 242px;padding-left: 86px;width:1300px;overflow:hidden;height:100%;-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;}
.m1p4 .picscroll .item .tip h5{font-size: 32px;color: #fff;font-weight: bold;line-height: 35px;letter-spacing: -2px;}
.m1p4 .picscroll .item .tip h3{font-weight: bolder;font-size: 64px;color: #fff;letter-spacing: -3px;line-height: 170%;}
.m1p4 .picscroll .item .tip p{margin-top: 20px;color: #fff;font-size: 20px;line-height: 28px;width: 860px;}
.m1p4 .picscroll .item .tip .href{margin-top: 40px;color: #fff;font-weight: bold;text-align: center;background: url(../images/slideInsideBtn.png) center no-repeat;width: 205px;height: 63px;line-height: 63px;display: block;}
.m1p4 .navs{position:absolute;top:0px;right:0px;padding: 80px 0;width:402px;height: 100%;background: rgba(29, 29, 29, .8);z-index:999;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-ms-box-sizing: border-box;-o-box-sizing: border-box;box-sizing: border-box;}
.m1p4 .navs a{display:block;position:relative;width: 100%;height: 104px;line-height: 104px;text-align: center;color: rgba(255, 255, 255, .7);}
.m1p4 .navs a img{width:168px;height:103px;}
.m1p4 .navs a.activeSlide{background: url(../images/slideNavBg.png) center no-repeat;}

.m1p5{padding-top: 131px;width: 100%;text-align: center;height: 1075px;background: url(../images/wid_img5.jpg) center bottom no-repeat;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.m1p5 h3{font-size: 64px;font-weight: bold;text-align: center;color: #662b8f;letter-spacing: -4px;line-height: 170%;}
.m1p5 p{margin: 0 auto;font-size: 22px;text-align: center;color: #1d1d1d;width: 960px;line-height: 28px;}
.m1p5 ul{margin: 0 auto;padding-top: 85px;width: 1436px;}
.m1p5 li{position: relative;margin-right: 83px;float: left;width: 423px;height: 277px;}
.m1p5 li:last-child{margin-right: 0;}
.m1p5 li img{width: 100%;height: 100%;}
.m1p5 .playBtn{position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);background: url(../images/playBtn.png) center no-repeat;width: 60px;height: 60px;}
.m1p5 li p{margin: 0 auto;margin-top:85px;color: #fff;font-size: 27px;line-height: 32px;width: 74%;}

.m1p6{padding-top: 112px;width: 100%;background: url(../images/wid_tab_bg.jpg) center top no-repeat;height: 1206px;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;}
.m1p6 h3{font-size: 64px;font-weight: bolder;color: #fff;text-align: center;letter-spacing: -3px;line-height: 170%;}
.m1p6 p{color: #fff;text-align: center;font-size: 20px;}
.m1p6 ul{margin: 0 auto;width: 1318px;height: 465px;margin-top: 165px;}
.m1p6 li{margin-right: 26px;float: left;width: 278px;height: 321px;}
.m1p6 li:last-child{margin-right: 0;}
.m1p6 li img{width: 100%;height: 100%;}
.m1p6 li.active{width: 402px;height: 465px;margin-top: -67px;}
.m1p6 .tabCont{margin: 0 auto;width: 1318px;}
.m1p6 .tabCont h4{color: #662b8f;font-weight: bolder;font-size: 40px;letter-spacing: -3px;line-height: 55px;}
.m1p6 .tabCont h5{color: #1d1d1d;font-weight: bold;font-size: 20px;font-style: italic;letter-spacing: -1px;}
.m1p6 .tabCont h6{color: #1d1d1d;font-weight: normal;font-size: 20px;font-style: italic;margin-top: 27px;}
.m1p6 .tabCont ul{margin: 0 auto;margin-top: 5px;width: 1278px;}
.m1p6 .tabCont li{position: relative;padding-left: 40px;width: 47%;float: left;height: 30px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-ms-box-sizing: border-box;-o-box-sizing: border-box;box-sizing: border-box;}
.m1p6 .tabCont li:before{content: "";position: absolute;left: 0;top: 5px;background: url(../images/dot.jpg) center no-repeat;width: 12px;height: 14px;}

.m1p7{position: relative;width: 100%;background: url(../images/wid_img7.jpg) center 0 no-repeat;height: 630px;}
.m1p7 .btn{position: absolute;left: 50%;padding: 16px 40px;display: block;transform: translateX(-50%);-o-transform: translateX(-50%);-moz-transform: translateX(-50%);-ms-transform: translateX(-50%);-webkit-transform: translateX(-50%);width: 635px;height: 120px;line-height: 40px;font-size: 20px;font-weight: bold;color: #fff;text-align: center;-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;}
.m1p7 .btn1{top: 196px;background: url(../images/m1p7Btn1.png) center no-repeat;}
.m1p7 .btn2{top: 384px;background: url(../images/m1p7Btn2.png) center no-repeat;}

.m3p1{position: relative;padding-left: 135px;padding-top: 304px;width: 100%;background: url(../images/m3p1.jpg) center 0 no-repeat;height: 829px;-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;}
.m3p1 h3{position: relative;color: #fff;font-weight: bolder;font-size: 64px;letter-spacing: -2px;letter-spacing: -3px;line-height: 170%;}
.m3p1 h5{position: relative;color: #fff;font-size: 20px;margin-top: -10px;}
.m3p1 .apply{position: relative;display: block;margin-top: 63px;background: url(../images/m3p1ApplyBtn.png) center no-repeat;width: 231px;height: 59px;line-height: 59px;color: #fff;font-weight: bold;font-size: 22px;text-align: center;}

.m3p2{padding-top: 80px;width: 100%;background: url(../images/m3p2.jpg) center 0 no-repeat;height: 501px;
-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;}
.m3p2 h3{font-weight: bolder;font-size: 64px;color: #fff;text-align: center;letter-spacing: -1px;}
.m3p2 h5{padding-top: 70px;color: #fff;font-weight: bold;text-align: center;font-size: 28px;}
.m3p2 p{margin: 0 auto;padding-top: 10px;font-size: 20px;color: #fff;width: 1000px;text-align: left;text-indent: 2em;line-height: 25px;}

.m3p3{position: relative;width: 100%;background: url(../images/m3p3.jpg) center 0 no-repeat;height: 792px;}

.m3p4{width: 100%;background: url(../images/m3p4.jpg) center 0 no-repeat;height: 530px;}
.m3p4 .pa{float: left;width: 50%;padding-left: 520px;padding-top: 120px;
	-webkit-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;}
.m3p4 .pa h3{font-size: 44px;font-weight: bolder;color: #662b8f;line-height: 45px;}
.m3p4 .pa p{width: 260px;color: #1d1d1d;font-size: 26px;line-height: 30px;margin-top: 20px;}
.m3p4 .lef{padding-top: 140px;}
.m3p4 .rig{padding-left: 350px;}
.m3p4 .rig p{width: 330px;}

.m3p5{width: 100%;background: url(../images/m3p5.jpg) center 0 no-repeat;height: 476px;}
.m3p5 h3{padding-top: 80px;font-size: 64px;font-weight: bolder;text-align: center;color: #fff;letter-spacing: -3px;letter-spacing: -2px;}
.m3p5 p{padding-top: 40px;color: #fff;text-align: center;font-size: 20px;margin: 0 auto;width: 920px;}

.m3p6{width: 100%;height: 422px;}
.m3p6 ul{margin: 0 auto;padding-top: 75px;width: 922px;}
.m3p6 li{position: relative;padding-left: 40px;font-size: 24px;height: 52px;line-height: 52px;}
.m3p6 li:before{content: "";position: absolute;left: 0;top: 19px;background: url(../images/dot.jpg) center no-repeat;width: 12px;height: 14px;}

.m3p7{width: 100%;height: 926px;background: #000;}

.m3p8{padding-top: 100px;width: 100%;height: 1261px;background: url(../images/m3p8.jpg) center bottom no-repeat;-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;}
.m3p8 h3{font-size: 64px;font-weight: bolder;text-align: center;color: #662b8f;letter-spacing: -2px;}
.m3p8 ul{padding-top: 665px;margin: 0 auto;width: 1280px;}
.m3p8 li{float: left;width: 290px;margin-right: 200px;height: 500px;text-align: center;}
.m3p8 li:last-child{margin-right: 0;}
.m3p8 li h3{font-size: 42px;color: #fff;text-align: center;line-height: 45px;}
.m3p8 li h4{font-size: 22px;color: #fff;text-align: center;line-height: 28px;}
.m3p8 li p{text-align: center;color: #fff;width: 230px;display: inline-block;font-size: 24px;line-height: 30px;}

.m3p9{width: 100%;height: 1050px;}
.m3p9 ul{width: 100%;height: 284px;}
.m3p9 li{display: block;float: left;width: 850px;height: 124px;line-height: 124px;font-size: 42px;font-weight: bolder;color: #fff;text-align: center;letter-spacing: -2px;}
.m3p9 li:first-child{background: url(../images/tab2_img1.jpg) center no-repeat;}
.m3p9 li:nth-child(2){background: url(../images/tab2_img2.jpg) center no-repeat;}
.m3p9 li:nth-child(3){background: url(../images/tab2_img3.jpg) center no-repeat;}
.m3p9 li:last-child{background: url(../images/tab2_img4.jpg) center no-repeat;}
.m3p9 li:first-child.active{background: url(../images/tab2_img1_act.jpg) center no-repeat;}
.m3p9 li:nth-child(2).active{background: url(../images/tab2_img2_act.jpg) center no-repeat;}
.m3p9 li:nth-child(3).active{background: url(../images/tab2_img3_act.jpg) center no-repeat;}
.m3p9 li:last-child.active{background: url(../images/tab2_img4_act.jpg) center no-repeat;}
.m3p9 .tabCont{margin: 0 auto;padding-top: 85px;width: 1450px;height: 766px;background: url(../images/m3p9TabCont.jpg) center bottom no-repeat;
-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;}
.m3p9 .tabCont li{display: block;width: 440px;height: 271px;margin-right: 65px;}
.m3p9 .tabCont li:last-child{margin-right: 0;}
.m3p9 .tabCont li img{width: 100%;height: 100%;}
.m3p9 .tabCont li h4{padding-top: 8px;text-align: center;font-weight: bold;color: #662b8f;font-size: 24px;letter-spacing: -2px;line-height: 45px;}
.m3p9 .tabCont li p {margin: 0 auto;margin-top: 36px;color: #fff;font-size: 27px;line-height: 32px;width: 74%;}
.m3p9 .tabCont li:first-child p{margin-left: 38px;}
.m3p9 .tabCont li:last-child p{margin-left: 59px;}

.m3p10{padding-top: 136px;padding-left: 90px;position: relative;width: 100%;background: url(../images/m3p10.jpg) center 0 no-repeat;height: 791px;
	-webkit-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;}
.m3p10 h3{position: relative;color: #fff;font-weight: bolder;font-size: 54px;letter-spacing: -1px;line-height: 170%;}
.m3p10 h5{position: relative;font-size: 34px;color: #fff;width: 750px;line-height: 38px;}

.m3p11{padding-top: 496px;width: 100%;height: 849px;background: url(../images/m3p11.jpg) center bottom no-repeat;-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;}
.m3p11 ul{margin: 0 auto;width: 1482px;}
.m3p11 li{float: left;width: 33%;}
.m3p11 li h5{margin: 0 auto;color: #fff;text-align: center;font-weight: bold;font-size: 24px;width: 260px;height: 50px;margin-bottom: 46px;}
.m3p11 li p{margin: 0 auto;color: #fff;text-align: center;width: 310px;font-size: 20px;}
