@charset "UTF-8";
input{outline: none;-webkit-appearance: none;}

body{background: #f7f8f8;}
.topNav{padding: 26px 0 0 67px;height: 127px;background: url(../images/topNavBg.jpg) center no-repeat;}
.box{position: relative;padding-left: 285px;}
.box .leftNav{position: absolute;left: 0;top: 0;width: 285px;height: 100%;background: #efefef;}
.box .cont{width: 100%;height: 1000px;background: #444;}
.lightBtn{display: block;background: url(../images/agreeBtn.png) center no-repeat;width: 100%;height: 64px;line-height: 64px;color: #fff;font-size: 22px;font-weight: bold;border: none;border-radius: 6px;}
.fl{float: left;}
.fr{float: right;}

/*login*/
.login{position: relative;background: url(../images/loginBg2.jpg) center 0 no-repeat;width: 100%;height: 100%;overflow: hidden;}
.login .loginLogo{position: absolute;left: 10%;top: 40%;}
.loginFormBox{padding: 10px 33px 20px;position: absolute;right: 5%;top: 30%;width: 354px;background: rgba(255, 255, 255, .8);border-radius: 15px;}
.login .form-item{margin-top: 10px;width: 100%;}
.login .form-item input[type="radio"]{margin-right: 10px;width: 21px;height: 21px;border: 1px solid #e2e4e5;background: #fff;border-radius: 50%;vertical-align: bottom;}
.login .form-item input[type="radio"]:checked{background: url(../images/radioChecked.png);background-size: 100%;}
.login .form-item input[type="text"]{display: inline-block;text-indent: 20px;font-size: 22px;width: 100%;height: 60px;line-height: 60px;border-radius: 8px;border: 1px solid #e2e7e7;}
.login .form-item a{display: inline-block;font-size: 22px;color: #006168;}

/*zj-page2*/
.widthCont{margin: 0 auto;width: 80%;}
.widthCont h3{text-align: center;font-size: 26px;font-weight: bold;color: #00a7af;line-height: 35px;}
.widthCont p{font-size: 22px;line-height: 28px;color: #595757;}
.checkBox{margin-top: 10px;width: 100%;text-align: center;font-size: 22px;}
.checkBox input[type="checkbox"]{margin-right: 10px;vertical-align: middle;width: 20px;height: 20px;background: #fff;border: 1px solid #f2f2f2;}
.checkBox input[type="checkbox"]:checked{background: url(../images/checked.png) center no-repeat;background-size: 100%;}
.checkBox .lightBtn{display: inline-block;width: 357px;}