@charset "UTF-8";
input,select{outline: none;-webkit-appearance: none;-ms-appearance: none;-moz-appearance: none;appearance: none;}
select::-ms-expand{display: none;}
select::expand{display: none;}

.bgfff{background: #fff;}
.fl{float: left;}
.fr{float: right;}
.tal{text-align: left;}
.tac{text-align: center;}
.tar{text-align: right;}
.rel{position: relative;}
.dib-img{display: inline-block!important;}

body{background: #f7f8f8;font-family: "微软雅黑";}
.topNav{padding: 26px 0 0 67px;height: 127px;background: url(../images/topNavBg.jpg) center no-repeat;}
.lightBtn{display: block;background: url(../images/agreeBtn.png) center no-repeat;width: 100%;height: 64px;line-height: 64px;color: #fff;font-size: 22px;font-weight: bold;border: none;border-radius: 6px;-webkit-background-size: cover;-ms-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
.pureBtn{background: url(../images/registerBtnBg.jpg) repeat-x;color: #00a7af;}
.block{position: fixed;left: 0;top: 0;width: 100%;height: 100%;background: #000;opacity: .7;filter:alpha(opacity=70);/*This works in IE 8 & 9 too*/-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";/*IE4-IE9*/filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);z-index: 1;}

/*login*/
.login{position: absolute;background: #fff;width: 100%;height: 100%;overflow: hidden;}
.login .loginBg{position: absolute;left: 0;top: 0;}
.login .loginLogo{position: relative;left: 10%;top: 35%;}
.loginFormBox{padding: 10px 33px 20px;position: absolute;right: 5%;top: 30%;width: 354px;background: #fff\9;background: rgba(255, 255, 255, .8);border-radius: 15px;}
.login .form-item{margin-top: 10px;width: 100%;}
.login .form-item input[type="radio"]{margin-right: 10px;width: 21px;height: 21px;border: 1px solid #e2e4e5;background: #fff;border-radius: 50%;vertical-align: bottom;}
.login .form-item input[type="radio"]:checked{background: url(../images/radioChecked.png);background-size: 100%;-webkit-background-size: 100%;-moz-background-size: 100%;-ms-background-size: 100%;}
.login .form-item input[type="text"]{display: inline-block;text-indent: 20px;font-size: 22px;width: 100%;height: 60px;line-height: 60px;border-radius: 8px;border: 1px solid #e2e7e7;}
.login .form-item a{display: inline-block;font-size: 22px;color: #006168;}

.login .bottomTip{position: absolute;padding-top: 50px;bottom: 0;left: 0;width: 100%;}
.login .bottomTip p{font-size: 24px;line-height: 35px;color: #595757;}

.login .gongao{padding: 0 30px;width: 1112px;height: 768px;background: none;text-align: center;border: none;}
.login .gongaoBg{position: absolute;left: 0;top: 0;width: 100%;height: 100%;border: none;}
.login .gongao h4{position: relative;margin-bottom: 30px;text-align: center;font-size: 64px;letter-spacing: 10px;line-height: 100px;color: #00a6ae;font-weight: bold;}
.login .gongao .content{width: 100%;height: 600px;overflow-y: scroll;}
.login .gongao p{position: relative;text-indent: 2em;text-align: left;font-size: 32px;color: #909090;line-height: 45px;}

/*zj-page2*/
.widthCont{margin: 0 auto;width: 80%;}
.widthCont h3{text-align: center;font-size: 26px;font-weight: bold;color: #00a7af;line-height: 35px;}
.widthCont p{font-size: 22px;line-height: 28px;color: #595757;}
.checkBox{margin-top: 10px;width: 100%;text-align: center;font-size: 22px;}
.checkBox label{cursor: pointer;}
.checkBox input[type="checkbox"]{margin-right: 10px;vertical-align: middle;width: 20px;height: 20px;background: #fff;border: 1px solid #f2f2f2;}
.checkBox input[type="checkbox"]:checked{background: url(../images/checked.png) center no-repeat;background-size: 100%;-webkit-background-size: 100%;-moz-background-size: 100%;-ms-background-size: 100%;}
.checkBox .lightBtn{display: inline-block;width: 357px;}

/*zj-page3*/
.zj-page3Form{padding-top: 115px;margin: 0 auto;width: 430px;}
.zj-page3Form h4{font-size: 26px;font-weight: bold;text-align: center;text-indent: 2em;color: #00a7af;line-height: 30px;}
.zj-page3Form .form-item{margin-top: 13px;;width: 100%;height: 63px;line-height: 63px;}
.zj-page3Form .form-item label{padding-right: 10px;display: inline-block;float: left;width: 67px;text-align: right;font-size: 22px;color: #595757;}
.zj-page3Form .form-item .ipt{position: relative;width: 350px;float: right;height: 63px;line-height: 63px;border-radius: 6px;border: 1px solid #eaebeb;font-size: 22px;}
.zj-page3Form .form-item .sel:after{content: "";position: absolute;right: 14px;top: 25px;background: url(../images/sel_arrow.jpg) 0 0 no-repeat;width: 9px;height: 16px;}
.zj-page3Form .form-item .sel select{padding-left: 20px;background: none;border: none;font-size: 22px;color: #ccc;width: 100%;}
.zj-page3Form .form-item .ipt input{padding-left: 20px;width: 100%;height: 100%;background: none;border: none;font-size: 22px;}
.zj-page3Form .form-item button,.zj-page3Form .form-item .lightBtn{display: inline-block;width: 354px;}


/*zj-page4*/
.box{position: relative;padding-left: 285px;overflow: hidden;}
.box .leftNav{position: absolute;left: 0;top: 0;padding-top: 50px;width: 284px;height: 100%;background: #efefef;text-align: center;border-right: 1px solid #d5d5d6;}
.box .leftNav .icon{width: 130px;height: 130px;border-radius: 50%;}
.box .leftNav p{margin-top: 26px;font-size: 22px;color: #595757;}
.box .leftNav .shenping{display: inline-block;margin-top: 42px;background: url(../images/shijianpingshenBg.jpg) 0 0 no-repeat;width: 100%;height: 77px;line-height: 77px;color: #fff;text-align: center;font-weight: bold;font-size: 26px;border: none;}
.box .leftNav ul{padding-top: 42px;}
.box .leftNav li{display: inline-block;color: #00a7af;border-top: 1px solid #d2d2d3;border-bottom: 1px solid #d2d2d3;width: 100%;height: 77px;line-height: 77px;text-align: center;font-weight: bold;font-size: 26px;cursor: pointer;}
.box .leftNav li.active{background: url(../images/shijianpingshenBg.jpg) 0 0 no-repeat;color: #fff;border-top: 1px solid #26d8cc;}

.box .contBox{width: 100%;background: #fff;}
.box .cont{padding: 0 66px;overflow: hidden;}
.box .cont .choose{width: 100%;height: 87px;border-bottom: 3px solid #d7d8d8;line-height: 87px;}
.box .cont .choose em{margin-right: 40px;font-size: 22px;color: #595757;}
.box .cont .choose label{margin-right: 10px;font-size: 22px;color: #595757;}
.box .cont .choose em.active{color: #00a7af;}
.box .cont .choose .city{position: relative;}
.box .cont .choose .city:after{content: "";position: absolute;right: 14px;top: 0px;background: url(../images/sel_arrow.jpg) 0 0 no-repeat;width: 9px;height: 16px;}
.box .cont .choose select{padding: 0 20px;background: #fff;width: 114px;height: 63px;line-height: 63px;color: #ccc;border: 1px solid #e4e5e5;border-radius: 6px;font-size: 22px;}

.box .cont .lists{width: 100%;}
.box .cont .lists li{float: left;padding: 38px 0 10px;min-width: 260px;width: 25%;}
.box .cont .lists li img{margin: 0 15px 20px;width: 139px;height: 172px;}
.box .cont .lists li p{text-align: left;color: #595757;font-size: 22px;line-height: 25px;}
.box .cont .lists li.addMore{padding: 0;border: 2px dotted #231815;border-radius: 10px;text-align: center;color: #DCDCDD;font-weight: bold;font-size: 87px;cursor: pointer;}

/*zj-page5*/
.box .contBox .plr55{padding: 15px 55px;}
.box .contBox .plr55 h4{font-size: 26px;font-weight: bold;color: #00a7af;}
.box .contBox .plr55 .part{margin-top: 18px;padding: 20px 40px;background: #fff;border-radius: 6px;width: 100%;border: 1px solid #eaeaea;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.box .contBox .plr55 .part p{font-size: 22px;color: #595757;line-height: 35px;}
.box .contBox .plr55 .part p span{margin-left: 45px;}
.box .contBox .plr55 .part p span:first-child{margin-left: 0;}

.box .contBox .plr55 .tabPart{padding: 0;}
.box .contBox .plr55 .tabPart table{width: 100%;}
.box .contBox .plr55 .tabPart table tr{border-bottom: 2px solid #dadada;}
.box .contBox .plr55 .tabPart table th,.box .contBox .plr55 .tabPart table td{padding: 10px;border-right: 1px solid #dadada;text-align: center;max-width: 500px;color: #595757;}
.box .contBox .plr55 .tabPart table td input{padding: 0 10px;width: 174px;height: 63px;line-height: 63px;font-size: 22px;border-radius: 6px;border: 1px solid #ccc;}
.box .contBox .plr55 .tabPart table td:nth-child(2){text-align: left;}

.box .contBox .plr55 .part textarea{width: 100%;border: none;height: 84px;font-size: 22px;line-height: 25px;resize: none;}

/*ys-page3*/
.ys-page3 .zj-page3Form{width: 520px;}
.ys-page3 .zj-page3Form .form-item label{width: 155px;}
.ys-page3 .zj-page3Form .form-item .uploadImg{display: block;position: absolute;top: 0;border-radius: 10px;right: -190px;font-size: 22px;width: 187px;height: 65px;line-height: 65px;text-align: center;color: #fff;border: none;background: url(../images/uploadImgBg.png) center no-repeat;-webkit-background-size: 187px 65px;-moz-background-size: 187px 65px;-ms-background-size: 187px 65px;background-size: 187px 65px;}
.ys-page3 .zj-page3Form .form-item .uploadImgSucc{text-align: left;text-indent: 1.5em;background: url(../images/uploadImgSuccBg.png) center no-repeat;-webkit-background-size: 187px 65px;-moz-background-size: 187px 65px;-ms-background-size: 187px 65px;background-size: 187px 65px;}

/* ys-page5&6 */
.box .cont .tabCont{width: 100%;}
.box .cont .tabCont .tits{padding: 50px 0;width: 100%;}
.box .cont .tabCont .tit{display: flex;display: -webkit-flex;width: 48%;float: left;font-size: 22px;color: #595757;}
.box .cont .tabCont .tit:last-child{float: right;}
.box .cont .tabCont .tit label{margin-right: 10px;display: block;width: 95px;}
.box .cont .tabCont .tit input{-webkit-flex: 1;flex: 1;border: none;border-bottom: 1px solid #c9caca;font-size: 22px;background: none;}
.box .cont .tabCont h4{color: #00a7af;font-size: 24px;font-weight: bold;}
.box .cont .tabCont h5{padding: 15px 2px 12px;font-size: 22px;color: #595757;}
.box .cont .tabCont textarea{padding: 10px;width: 100%;height: 78px;font-size: 22px;line-height: 25px;border-radius: 6px;background: #fff;resize: none;border: 1px solid #eaeaea;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.box .cont .tabCont .radioBox {width: 100%;height: 36px;line-height: 36px;color: #595757;font-size: 22px;}
.box .cont .tabCont .radioBox input[type="radio"]{margin-right: 5px;background: #fff;border: 1px solid #e3e4e4;border-radius: 50%;width: 35px;height: 35px;vertical-align: middle;}
.box .cont .tabCont .radioBox input[type="radio"]:checked{border: none;background: url(../images/radioChecked.png) center no-repeat;-webkit-background-size: 36px;-moz-background-size: 36px;-o-background-size: 36px;-ms-background-size: 36px;background-size: 36px;}

.box .cont #tab2_Content1 .checkBox{text-align: left;}
.box .cont #tab2_Content1 .checkBox .lightBtn{width: 186px;}
.box .cont #tab2_Content1 .part{margin-top: 18px;padding: 20px 40px;background: #fff;border-radius: 6px;width: 100%;border: 1px solid #eaeaea;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.box .cont #tab2_Content1 .part p{font-size: 22px;color: #595757;line-height: 45px;}
.box .cont #tab2_Content1 .part p span{margin-left: 45px;}
.box .cont #tab2_Content1 .part p span:first-child{margin-left: 0;}
.box .cont #tab2_Content1 .part h5{margin-top: 10px;border-bottom: 1px solid #b5b5b6;width: 100%;color: #595757;}

.dialog{position: fixed;padding-top: 30px;left: 50%;top: 50%;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);-moz-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);-o-transform: translate(-50%,-50%);margin: 0 auto;width: 823px;height: 559px;background: #fff;z-index: 10;text-align: center;}
.dialog img{width: 306px;height: 306px;border: 1px solid #747272;}
.dialog .lightBtn{margin-top: 40px;display: inline-block;width: 186px;}