@charset "UTF-8";
body{background: #d8f3ef;}
.horizontal{margin: 0 auto;}
.rel{position: relative;}
.abs{position: absolute;}
.home{width: 100%;background: url(../images/bg_big.jpg) #d8f3ef 0 0 no-repeat;-webkit-background-size: cover;background-size: cover;}
.main{padding: 0 1.5rem;width: 100%;box-sizing: border-box;}

.big-btn{margin: 0 auto;width: 29rem;height: 4rem;line-height: 4rem;font-size: 1.6rem;font-weight: bold;color: #fff;text-align: center;background: #ff7131;border-radius: 3px;box-shadow: 1px 4px 9px #cb7865;}

header{display: -webkit-box;padding: 0 1.5rem;width: 100%;-webkit-box-pack: justify;-webkit-box-align: center;width: 100%;height: 4rem;line-height: 4rem;background: rgba(0, 84, 131, .5);box-sizing: border-box;}
header .menu{display: block;background: url(../images/menu.png) 0 0 no-repeat;-webkit-background-size: 2.2rem;background-size: 2.2rem;width: 2.2rem;height: 2.2rem;}
header p{-webkit-box-flex: 1;color: #fff;font-size: 1.6rem;}

.cloud{margin: 0 auto;background: url(../images/cloud.png) 0 0 no-repeat;width: 14.6rem;height: 5.5rem;background-size: 14.6rem auto;color: #e95b1b;font-size: 1.9rem;text-align: center;line-height: 4rem;font-weight: bold;text-shadow: 1px 1px 10px #7c877f;}
.no{position: relative;padding-left: 2rem;}
.no:before{content: "";position: absolute;left: 0;top: .5rem;width: 1.25rem;height: 1.8rem;}
.no1:before{background: url(../images/no1.png) 0 0 no-repeat;background-size: auto 1.8rem;}
.no2:before{background: url(../images/no2.png) 0 0 no-repeat;background-size: auto 1.8rem;}
.no3:before{background: url(../images/no3.png) 0 0 no-repeat;background-size: auto 1.8rem;}
.no4:before{background: url(../images/no4.png) 0 0 no-repeat;background-size: auto 1.8rem;}

.actDetail h2{font-size: 1.6rem;color: #e95b1b;font-weight: bold;}
.actDetail h3{font-size: 1.2rem;color: #606665;font-weight: normal;line-height: 2rem;}
.actDetail h4{font-size: 1.2rem;color: #464545;line-height: 1.8rem;font-weight: bold;}
.actDetail h5{position: relative;font-size: 1rem;color: #464545;line-height: 1.5rem;}
.actDetail h5 em{position: absolute;left: 0;top: .5rem;display: block;width: 1.1rem;height: 1.1rem;border-radius: 50%;border: 1px solid #464545;text-align: center;line-height: 1.1rem;}
.actDetail h5 b{font-weight: bold;}

table{margin-top: .4rem;width: 100%;border: 1px solid #5cc1b7;box-sizing: border-box;box-shadow: 1px 1px 10px #697d81;}
table tr{height: 2rem;line-height: 2rem;background: #e7f7f6;}
table tr:nth-child(2n){background: #caeeea;}
table th{background: #a1dcd6;font-size: .8rem;color: #464545;font-weight: bold;}
table th,table td{padding-left: 1.5rem;border-right: 1px solid #81cfc7;font-size: .8rem;}
table th:last-child,table td:last-child{border: none;}
.actDetail p{font-size: .7rem;color: #464545;line-height: 1.2rem;}

table.diffTab tr{background: #caeeea;border-bottom: 1px solid #7ccec6;}
table.diffTab tr:last-child{border: none;}
table.diffTab td.dif{background: #e7f7f6;}

table.blue{margin-top: .4rem;width: 100%;border: 1px solid #51bbf2;box-sizing: border-box;box-shadow: 1px 1px 10px #697d81;}
table.blue tr{height: 2rem;line-height: 2rem;background: #eff9ff;}
table.blue tr:nth-child(2n){background: #d5effe;}
table.blue th{background: #91cfef;font-size: .8rem;color: #464545;font-weight: bold;}
table.blue th,table.blue td{padding-left: 1.5rem;border-right: 1px solid #6bc3f1;font-size: .8rem;}

.mountain{background: url(../images/bg.jpg) 0 0 no-repeat;background-size: cover;width: 100%;}

.tab{margin: 0 auto;width: 29rem;height: 4rem;line-height: 4rem;border-radius: 3px;box-sizing: border-box;}
.tab li{float: left;width: 50%;background: #ffa854;text-align: center;color: #fff;font-size: 1.6rem;font-weight: bold;}
.tab li.active{background: #fe6f2f;color: #fff4b1;}
.tabCont{padding: 2rem;margin-top: 1px;width: 100%;background: #d6edec;height: 45.5rem;box-sizing: border-box;}

/*考试*/
.exam h2{font-size: 1.6rem;color: #464545;font-weight: bold;line-height: 2.5rem;}
.exam label{display: block;width: 100%;height: 3rem;line-height: 3rem;font-size: 1.4rem;color: #464545;}
.exam input[type="radio"]{margin-right: 1rem;background: url(../images/radio.png) 0 0 no-repeat;width: 1.3rem;height: 1.3rem;background-size: 1.3rem;}
.exam input[type="radio"]:checked{background: url(../images/radio_checked.png) 0 0 no-repeat;background-size: 1.3rem;}
.exam p{font-size: .8rem;color: #555;line-height: 1.2rem;}
.exam p.red{color: #e10e1c;}
.exam p.green{color: #2fd023;}

/*提交信息*/
.subInfo{margin: 0 auto;width: 100%;}
.subInfo .form-item{width: 100%;height: 5rem;}
.subInfo .form-item.select{position: relative;}
.subInfo .form-item.select::after{content: "";position: absolute;right: 0;top: 0;background: url(../images/downArr.png) 0 0 no-repeat;background-size: auto 3.9rem;width: 3.9rem;height: 3.9rem;}
.subInfo select{width: 100%;height: 4rem;line-height: 4rem;font-size: 1.4rem;border: 1px solid #eaaf79;}
.subInfo input{padding-left: .5rem;display: block;width: 100%;height: 4rem;line-height: 4rem;font-size: 1.4rem;color: #464545;border: 1px solid #eaaf79;box-sizing: border-box;}
.subInfo p{font-size: 1.2rem;color: #464545;line-height: 1.9rem;}
.subInfo p.red{font-size: 1rem;color: #ff0000;}
.subInfo p b{font-weight: bold;}

/*往期回顾*/
.reback{padding: 0 .6rem;padding-top: 2.8rem;width: 100%;box-sizing: border-box;}
.part{position: relative;padding: 3.5rem .8rem .4rem .8rem;width: 100%;height: 21.5rem;background: #e3f8f4;box-shadow: 0 2px 10px rgba(0,0,0,.3);box-sizing: border-box;}
.part .cloud{position: absolute;top: -1.5rem;left: 50%;-webkit-transform: translateX(-50%);}
.reback .part1 ul{overflow: hidden;}
.reback .part1 li{margin-top: .7rem;margin-right: .7rem;float: left;width: 9rem;height: 7rem;}
.reback .part1 li:nth-child(3n){margin-right: 0;}
.reback .part1 li img{width: 9rem;height: 7rem;}
.reback .part1 .change{width: 100%;text-align: center;font-size: 1.2rem;color: #ff7131;font-weight: bold;}
.reback .part1 .change img{margin-right: .3rem;width: 1.45rem;height: 1.6rem;}

/*首页*/
.homeBox{padding-top: 22rem;}
.homeBox .part{height: 16rem;}
.homeBox b{font-weight: bold;}
.homeBox .choose-btn-box{margin-top: 1.2rem;display: -webkit-box;-webkit-box-pack: justify;width: 100%;}
.homeBox .choose-btn-box button{display: block;-webkit-box-flex: 1;margin-right: 1rem;height: 3rem;line-height: 3rem;text-align: center;font-size: 1.2rem;color: #fff4b1;border-radius: 3px;background: #fe6e2f;box-shadow: 1px 2px 10px #7c8587;}
.homeBox .choose-btn-box button:last-child{margin-right: 0;}
.homeBox .choose-btn-box .btn2{background: #ffa853;color: #fff;}
.homeBox .choose-btn-box .btn3{background: #fe6f30;}