@charset "UTF-8";
body{font-size: 1.2rem;color: #333;background: #f7f7f7;overflow: hidden;}
.block{display: none;position: absolute;left: 0;width: 100%;background: rgba(0,0,0,.7);z-index: 1;}
.topNav{display: -webkit-box;-webkit-box-align: center;background: #fff;;width: 100%;height: 3.5rem;line-height: 3.5rem;border: 1px solid #eee;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.topNav .tab{-webkit-box-flex: 1;text-align: center;height: 1.1rem;border-right: 1px solid #eee;}
.topNav .tab:last-child{border-right: none;}
.topNav .tab span{display: block;padding: 0 .5rem;height: 2.25rem;line-height: 1.1rem;font-size: 1.2rem;color: #333;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.topNav .tab span.active{color: #d2271a;border-bottom: 1px solid #d2271a;}

.topNavDialog{display: none;position: absolute;top: 3.5rem;left: 0;border: 1px solid #eee;width: 100%;z-index: 10;background: #fff;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.topNavDialog li{display: block;padding-left: 1rem;float: left;border-bottom: 1px solid #eee;border-left: 1px solid #eee;border-right: 1px solid #eee;width: 50%;height: 3.1rem;line-height: 3.1rem;text-align: left;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.topNavDialog li:nth-child(2n){border-left: none;}

.pullPan{position: absolute;left: 0;bottom: 6.6rem;z-index: 10;background: #fff;width: 100%;padding: 0 1rem;border-left: 1px solid #eee;border-bottom: 1px solid #eee;border-right: 1px solid #eee;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.pullPan .arrow{position: absolute;top: -2rem;right: 2.7rem;width: 2.4rem;height: 2rem;border-top-left-radius: 5px;border-top-right-radius: 5px;background: url(../images/arr.jpg) #fff center no-repeat;-webkit-background-size: .9rem auto;background-size: .9rem auto;}
.pullPan .map2{display: none;}
.pullPan li{display: -webkit-box;width: 100%;min-height: 3.3rem;line-height: 3.3rem;border-bottom: 1px solid #eee;}
.pullPan li p{-webkit-box-flex: 1;}
.pullPan li p:last-child{text-align: right;}
.pullPan li p.date{font-size: 1rem;color: #999;}
.pullPan li p img{margin-right: .3rem;width: .6rem;height: .9rem;vertical-align: middle;}
.pullPan li div{width: 100%;overflow: hidden;}